<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Submission Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen font-sans">
<!-- Navbar -->
<div th:replace="sidebar/sidebar::sideBar"></div>

<div class="relative flex justify-center mt-10">
  <div class="absolute left-10 top-0 mt-2">
    <a th:href="@{/conference}" class="w-8 h-8 rounded-full bg-gray-100 hover:bg-gray-200 shadow flex items-center justify-center text-xl text-gray-600">
      &lt;
    </a>
  </div>

  <div class="bg-white rounded-2xl shadow-md p-8 w-full max-w-4xl border border-gray-300">
    <h2 class="text-xl font-bold text-center mb-6">Submission Details</h2>

    <div class="mb-4">
      <label class="block font-semibold mb-1">Title:</label>
      <p class="px-4 py-2 border border-gray-300 rounded-md text-black font-medium" th:text="${submission.title}"></p>
    </div>

    <div class="mb-4 flex space-x-6">
      <div class="flex-1">
        <label class="block font-semibold mb-1">Date of creation :</label>
        <span class="text-black font-medium" th:text="${submission.creationDate}"></span>
      </div>

      <div class="flex-1">
        <label class="block font-semibold mb-1">Statut :</label>
        <span class="text-black font-medium" th:text="${submission.status}"></span>

        <!-- Nouveau label ajouté ici -->
        <label class="block font-semibold mt-2">Conference phase :</label>
        <span class="text-black font-medium" th:text="${submission.conference.phase}"></span>
      </div>
    </div>
    <!-- colonnes -->
    <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-8">

    <!-- Authors -->
      <!-- prise en compte du parametre auteurs anonymisés -->
      <div th:unless="${submission.conference.anonymousAuthors}">
        <label class="block font-semibold mb-1">Authors:</label>
        <ul class="list-disc pl-5 text-black space-y-1">
          <li th:each="author : ${submission.authors}" th:text="|${author.user.firstName} ${author.user.lastName}|">Author Name</li>
        </ul>
      </div>

    <!-- Keywords -->
      <div>
        <label class="block font-semibold mb-1">Keywords:</label>
        <ul class="list-disc pl-5 text-black space-y-1">
          <li th:each="kw : ${submission.keywords}" th:text="${kw}">Keyword</li>
        </ul>
      </div>
    </div>

    <!-- Abstract -->
    <div class="mb-6">
      <label class="block font-semibold mb-1 text-gray-800">Abstract:</label>
      <p class="px-4 py-2 border border-gray-300 rounded-md text-black font-medium whitespace-pre-wrap" th:text="${submission.abstractSub}"></p>
    </div>

    <!-- Fichier -->
    <div class="mb-6">
      <label class="block font-semibold mb-1">Files:</label>
      <table class="min-w-full bg-white border border-gray-300 w-3/4 mx-auto">
        <thead>
        <tr>
          <th class="py-2 px-3 border-b">File Name</th>
          <th class="py-2 px-2 border-b">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
          <td class="py-2 px-4 border-b text-center" th:text="${file}" >File Name</td> <!-- Aligné au centre -->
          <td class="py-2 px-4 border-b text-center">
            <a th:href="@{'/submissions/' + ${submission.id} + '/files/' + ${file}}"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
              Download
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- A afficher en fonction des autorisations utilisateurs -->
    <div class="flex justify-end space-x-4 pt-6">
      <!-- TODO : check role -->
        <!-- formulaire modifier submission -->
        <!-- check sur l'existence de la submission et que la phase est appropriée -->
        <form th:if="${submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).ABSTRACT_SUBMISSION
              or submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).CONCRETE_SUBMISSION
              or submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).FINAL_SUBMISSION}"
              th:action="@{/submissions/modifierSubmission}" method="get">

          <input type="hidden" name="submissionId" th:value="${submission.id}" />

          <button type="submit"
                  class="bg-blue-500 hover:bg-blue-700 text-white px-6 py-2 rounded-lg font-semibold">
            Edit
          </button>

        </form>
      <form th:if="${submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).ABSTRACT_SUBMISSION
              or submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).CONCRETE_SUBMISSION
              or submission.conference.phase==T(fr.upsaclay.easychair.model.enumates.Phase).FINAL_SUBMISSION}"
            th:action="@{/submissions/delete}" method="post"
            onsubmit="return confirmDeletion(event)">

        <input type="hidden" name="submissionId" th:value="${submission.id}" />

        <button type="submit"
                class="bg-red-500 hover:bg-red-700 text-white px-6 py-2 rounded-lg font-semibold">
          Delete
        </button>

      </form>

    <!-- TODO: evaluate -->
    <form th:action="@{/reports/ajouterReport}" method="post" th:if="${submission.evaluation != null}" >
      <input type="hidden" name="evaluationId" th:value="${submission.evaluation.id}" />
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white px-6 py-2 rounded-lg font-semibold">
        Evaluate
      </button>
    </form>
    </div>

  </div>
</div>
<script>
  // Fonction pour confirmer la suppression d'un fichier
  function confirmDeletion(event) {
    return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?');
  }
</script>
</body>
</html>